.campo-busca {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.botao-busca {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}